@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "DM Sans", sans-serif;
}

/* header */
.flex {
    display: flex;
    justify-content: space-between;
    padding: 28px 24px 28px;
}

header .close {
    display: none;
}

.menu-box {
    padding: 32px 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: none;

}

button {
    display: flex;
    justify-content: center;
    display: none;
}

.btn {
    justify-content: center;
    display: flex;
    padding-bottom: 32px;
    display: none;
}

.menu-box a {
    color: #000000;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2.5px;
    text-decoration: none;
    font-weight: 700;
}

hr {
    height: 1px;
    width: 310px;
    opacity: 25%;
}

button {
    padding: 14px 70px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2.5px;
    font-weight: 700;
    border: none;
    color: #fff;
    background-color: #000;
}

/* footer */

footer {
    background-color: #000;
    padding: 56px 0 56px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    margin-top: 32px;
    display: flex;
    gap: 13.33px;

}

.links {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
}

.links a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
}

.btn-btn {
    display: flex;
    margin-top: 109px;
    gap: 22px;
    justify-content: center;
}

.btn-btn p {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
}

footer .copyright {
    margin-top: 32px;
    opacity: 50.25%;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
}

.footer-icon {
    filter: brightness(95%) saturate(90%) invert(100%) sepia(50%) saturate(400%) hue-rotate(251deg) brightness(100%) contrast(100%);
}

.flex-wrapper img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(268deg) brightness(103%) contrast(103%);
}

.icons img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(251deg) brightness(102%) contrast(103%);
}

/* home page */
.content {
    background-color: #000000;
    color: #fff;
    padding: 72px 33px;
    margin-top: -5px;
    position: relative;
}

.line {
    height: 6px;
    width: 128px;
    left: 33px;
    top: 0px;
    background: linear-gradient(26.57deg,
            #ffc593 0%,
            #bc7198 43.29%,
            #5a77ff 83.33%);
    position: absolute;
}

section h1 {
    font-family: DM Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 3.3333332538604736px;
    text-align: left;
}

section .text {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 60%;
    margin-top: 16px;
}

section .text-1 {
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: left;
    margin-top: 23px;
}

.arrow {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(268deg) brightness(103%) contrast(103%);
}

.invite {
    display: flex;
    align-items: baseline;
    gap: 18px;
}

.invite img {
    align-self: flex-end;
}

.white-space {
    padding: 72px 33px;
}

hr {
    width: 100%;
}

.arr {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(268deg) brightness(103%) contrast(103%);
}

.card.first {
    background-image: url(../assets/stories/mobile/mountains.jpg);
}

.card.second {
    background-image: url(../assets/stories/mobile/cityscapes.jpg);
    ;
}

.card.third {
    background-image: url(../assets/stories/mobile/18-days-voyage.jpg);
    ;
}

.card.four {
    background-image: url(../assets/stories/mobile/architecturals.jpg);
}

.container .card {
    height: 375px;
    position: relative;
    display: grid;
    align-content: flex-end;
    background-size: cover;
    padding: 2rem;
    text-decoration: none;
    color: #fff;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    isolation: isolate;
    gap: 7px;
}

.container .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .25;
    display: block;
    z-index: -1;
}

.arrow-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

.card h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}

.about-text {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;


}

.white-box {
    padding: 80px 33px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.white-box h3 {
    margin-top: 48px;
}

.white-box p {
    margin-top: 16px;
    text-align: center;
    opacity: 60%;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.last {
    padding-bottom: 80px;
}

.no-limit-text {
    margin-top: 66px;
}

.desktop,
.tablet {
    display: none;
}

/* tablet size*/
@media (min-width: 590px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (min-width: 768px) {

    .menu {
        display: none;
    }

    .btn {
        display: block;
        padding-bottom: 0;
    }

    .menu-box {
        display: flex;
        flex-direction: row;
        padding: 28px;
    }

    .links {
        flex-direction: row;
    }

    header {
        display: flex;
        align-items: center;
        padding: 16px 40px;
        justify-content: space-around;
    }

    button {
        padding: 12px 24px;
        font-size: 8px;
        display: block;
    }

    .menu-box a {
        font-size: 12px;
    }

    /* footer */

    footer {
        flex-direction: row;
        justify-content: space-around;
    }

    .flex-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .icons {
        order: 1;
        margin-top: 72px;
    }

    .flex-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 120px;
    }

    .btn-btn {
        margin: 0;
    }

    /* home page */
    .mobile {
        display: none;
    }

    .tablet {
        display: block;
        width: 273px;
        margin-top: -5px;
    }

    section {
        display: flex;
        align-items: center;
    }

    .first-1 {
        flex-direction: row-reverse;
    }

    .content {
        height: 650px;
        padding: 173px 54px;
    }

    .line {
        height: 304px;
        width: 6px;
        left: 0px;
        top: 173px;
    }

    .content h1 {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.166666507720947px;
        text-transform: uppercase;
    }

    .invite {
        margin-top: 31px;
    }

    .first {
        padding: 136px 54px;
    }

    .first h1 {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.166666507720947px;
        width: 300px;

    }

    .three-3 {
        flex-direction: row-reverse;
    }

    .three-3 h1 {
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 4.166666507720947px;
    }


    .text {
        width: 370px;
    }

    .container .card {
        height: 500px;
    }

    .white-box {
        padding: 120px 155px 0;
    }

    .last {
        padding-bottom: 120px;
    }

}

/* desktop size */
@media (min-width: 900px) {}

header {
    justify-content: space-around;
}

@media (min-width: 1024px) {
    header {
        justify-content: space-around;
    }

    .menu-box {
        gap: 37px;
    }

    button {
        font-size: 12px;
    }
}

@media (min-width: 1200px) {

    /* home page */
    .two,
    .three-3 {
        justify-content: space-between;
    }

    .content {
        padding: 173px 111px;
    }

    .container {
        grid-template-columns: repeat(4, 1fr);

    }

    .container a {
        position: relative;
    }

    .container a:hover::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);

    }

    .text-1:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .container a:hover {
        cursor: pointer;
    }

    .card.four,
    .card.third,
    .card.second,
    .card.first {
        position: relative;
        top: 0;
        transition: top 0.3s ease-in-out;
    }

    .card.first:hover {
        top: -30px;

    }

    .card.second:hover {
        top: -30px;
    }

    .card.third:hover {
        top: -30px;
    }

    .card.four:hover {
        top: -30px;
    }

}

@media (min-width: 1440px) {
    .flex-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer {
        align-items: baseline;
        justify-content: space-between;
        padding: 0px 171px 40px;
    }

    .links {
        flex-direction: column;
        align-items: start;
        transform: translateY(20%);
        margin-left: 110px;
    }

    .footer-icon {
        align-self: center;
    }

    .icons {
        margin-top: 5px;
    }

    footer .copyright {
        margin: 0;
        transform: translateY(-150%);
    }

    .links a:hover {
        opacity: 30%;
        cursor: pointer;
    }

    .menu-box a:hover {
        opacity: 30%;
        cursor: pointer;
    }

    .btn button:hover {
        background-color: #dfdfdf;
        cursor: pointer;
        color: #000;
    }

    .btn-btn p:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .icons img:hover {
        cursor: pointer;
        filter: none;
    }

    /* home page */
    .tablet {
        display: none;
    }

    .desktop {
        display: none;
    }

    .content {
        margin: 0;
        width: 45%;
    }

    .first-1 {
        flex-direction: row;
    }

    .hero-img {
        background-size: cover;
        width: 55%;
        height: 650px;
        background-repeat: no-repeat;
        background-image: url(../assets/home/desktop/create-and-share.jpg);
    }

    .two {
        flex-direction: row-reverse;
    }

    .image-space {
        background-image: url(../assets/home/desktop/beautiful-stories.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 55%;
        height: 650px;
    }

    .white-space.first {
        width: 39%;
    }

    .image-source {
        background-image: url(../assets/home/desktop/designed-for-everyone.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 55%;
        height: 650px;
    }

    .three-3 {
        flex-direction: row;
    }

    .white-space.two {
        padding: 160px 100px;
    }

    .container {
        grid-template-columns: repeat(4, 1fr);

    }

    .box-container {
        display: flex;
        align-items: baseline;
        justify-content: center;
        padding: 120px 165px;
        gap: 30px;
    }

    .white-box {
        align-items: center;
        justify-content: center;
        padding: 0;
    }


}