@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "DM Sans", sans-serif;
}

/* header */
.flex {
    display: flex;
    justify-content: space-between;
    padding: 28px 24px 28px;
}

header .close {
    display: none;
}

.menu-box {
    padding: 32px 33px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: none;
    /* position: absolute; */
}

.btn {
    display: flex;
    justify-content: center;
    display: none;
}

.menu-box a {
    color: #000000;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2.5px;
    text-decoration: none;
    font-weight: 700;
}

hr {
    height: 1px;
    width: 310px;
    opacity: 25%;
}

button {
    padding: 14px 80px;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2.5px;
    font-weight: 700;
    border: none;
    color: #fff;
    background-color: #000;
}

/* footer */

footer {
    background-color: #000;
    padding: 56px 0 56px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    margin-top: 32px;
    display: flex;
    gap: 13.33px;
    /* justify-content: center; */
}

.links {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
}

.links a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
}

.btn-btn {
    display: flex;
    margin-top: 109px;
    gap: 22px;
    justify-content: center;
}

.btn-btn p {
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
}

footer .copyright {
    margin-top: 32px;
    opacity: 50.25%;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #ffffff;
}

.footer-icon {
    filter: brightness(95%) saturate(90%) invert(100%) sepia(50%) saturate(400%) hue-rotate(251deg) brightness(100%) contrast(100%);
}

.flex-wrapper img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(268deg) brightness(103%) contrast(103%);
}

.icons img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(251deg) brightness(102%) contrast(103%);
}

/* home page */
.content {
    background-color: #000000;
    color: #fff;
    padding: 72px 33px;
    margin-top: -5px;
    position: relative;
}

.line {
    height: 6px;
    width: 128px;
    left: 33px;
    top: 0px;
    background: linear-gradient(26.57deg, #FFC593 0%, #BC7198 43.29%, #5A77FF 83.33%);
    position: absolute;
}

section h1 {
    font-family: DM Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 3.3333332538604736px;
    text-align: left;

}

section .text {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 60%;
    margin-top: 16px;
}

section .text-1 {
    font-family: DM Sans;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: left;
    margin-top: 23px;
}

.arrow {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(268deg) brightness(103%) contrast(103%);
}

.invite {
    display: flex;
    align-items: baseline;
    gap: 18px;
}

.white-space {
    padding: 72px 33px;
}

.first-image {
    position: relative;
    margin-top: -5px;
}


.img-container {
    position: relative;
    display: inline-block;
}

.img-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.mountains {
    display: block;
    width: 100%;
    height: auto;
    filter: brightness(0.7);

}


.first-image h2 {
    left: 33px;
    top: 236px;
    position: absolute;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
}

.name {
    position: absolute;
    top: 265px;
    left: 33px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
}

hr {
    position: absolute;
    top: 298px;
    left: 33px;
}

.about-text {
    position: absolute;
    top: 319px;
    left: 33px;
    color: #fff;
}

.arr {
    position: absolute;
    top: 319px;
    left: 301px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(268deg) brightness(103%) contrast(103%);
}

.white-box {
    padding: 80px 33px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.white-box h3 {
    margin-top: 48px;
}

.white-box p {
    margin-top: 16px;
    text-align: center;
    opacity: 60%;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}

.last {
    padding-bottom: 80px;
}

.no-limit-text {
    margin-top: 66px;
}

/* tablet size*/
@media (min-width: 768px) {

    hr,
    .menu {
        display: none;
    }

    .btn {
        display: block;
    }

    .menu-box {
        display: flex;
        flex-direction: row;
        padding: 28px;
    }

    .links {
        flex-direction: row;
    }

    header {
        display: flex;
        align-items: center;
        padding: 16px 40px;
        justify-content: space-around;
    }

    button {
        padding: 12px 24px;
        font-size: 11px;
    }

    .menu-box a {
        font-size: 12px;
    }

    footer {
        flex-direction: row;
        justify-content: space-around;
    }

    .flex-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .icons {
        order: 1;
        margin-top: 72px;
    }

    .flex-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 120px;
    }

    .btn-btn {
        margin: 0;
    }
}

/* desktop size */
@media (min-width: 900px) {}

header {
    justify-content: space-around;
}

@media (min-width: 1024px) {
    header {
        justify-content: space-around;
    }

    .menu-box {
        gap: 37px;
    }

    button {
        font-size: 12px;
    }
}

@media (min-width: 1440px) {
    .flex-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer {
        align-items: baseline;
        justify-content: space-between;
        padding: 0px 171px 40px;
    }

    .links {
        flex-direction: column;
        align-items: start;
        transform: translateY(20%);
        margin-left: 110px;
    }

    .footer-icon {
        align-self: center;
    }

    .icons {
        margin-top: 5px;
    }

    footer .copyright {
        margin: 0;
        transform: translateY(-150%);
    }

    .links a:hover {
        opacity: 30%;
        cursor: pointer;
    }

    .menu-box a:hover {
        opacity: 30%;
        cursor: pointer;
    }

    .btn button:hover {
        background-color: #dfdfdf;
        cursor: pointer;
        color: #000;
    }

    .btn-btn p:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .icons img:hover {
        cursor: pointer;
        filter: none;
    }
}